include LICENSE.txt
include README.md
include CHANGELOG.md

recursive-include docs/source *.rst
include docs/requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * *.so
recursive-exclude * .git
recursive-exclude * .DS_Store
recursive-exclude * *.egg-info
